form {
  display: block;
  margin-top: 0em;
}

fieldset {
  margin: 0;
  padding: .35em .75em;
  border: 0;
}

.control-group {
  margin-bottom: .5em;
}

.control-group label{
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 6em;
  margin: 0 1em 0 0;
}

.credit {
  color: rgba(30, 168, 150, 1);
}

.debit {
  color: rgba(255, 113, 91, 1);
}

input, textarea, select, button {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 180px;
    margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}
